.pos-form{
    width: 100%;
}
.formulaire1{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(143, 121, 160);
    background-color: rgb(143, 121, 160);
    margin-top: -100px;
    border-radius: 15px;
   
    margin-right: 0px;
    border-radius: 0;
}
button{
    width: 200%;
    height: 40px;
    border-radius: 10px;
}