.container_profil{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.profil{
    width: 400px;
    border:1px solid blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.margin_profil{
    padding-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.btnModif{
    width: 150px;
    margin-bottom: 20px;
    height: 30px;
}
.text_underline{
    display: flex;
    align-items: center;
    text-decoration: underline;
}
.align{
    display: flex;
    align-items: center;
}